# Application Specific Stuff
SERVER =
PORT =
VERSION = 'v1'

# Database Specific Stuff
MONGO_URI = ""

# Authentication / Secret Keys Specific Stuff
JWT_SECRET_KEY = ""

# Cloudnary Specific Stuff
CLOUNDINARY_CLIENT_NAME = ""
CLOUNDINARY_CLIENT_API = ""
CLOUNDINARY_CLIENT_API_SECRET = ""
